:root {
    /* media queries */
    --x-small: 576px;
    --small: 576px;
    --medium: 768px;
    --large: 992px;
    --extra-large: 1200px;
    --extra-extra-large: 1400px;
    /* fonts */
    --montserrat: 'Montserrat', sans-serif;
    --michroma: 'Michroma', sans-serif;
    /* colors */
    --grey-lighten-5: #FAFAFA;
    --grey-lighten-4: #F5F5F5;
    --grey-lighten-3: #EEEEEE;
    --grey-lighten-2: #E0E0E0;
    --grey-lighten-1: #BDBDBD;
    --grey: #9E9E9E;
    --grey-darken-1: #757575;
    --grey-darken-2: #616161;
    --grey-darken-3: #424242;
    --grey-darken-4: #212121;

}

/* Global Page Element Styles */

.nav-item, .navbar-brand {
    cursor: pointer;
}

.navbar-brand {
    font-family: var(--michroma);
}

.navbar-toggler {
    border-width: inherit;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

body {
    font-family: var(--montserrat);
}

#to-top {
    width: 2%;
    min-width: 1em;
    height: auto;
    float: right;
    cursor: pointer;
}

.footer {
    width: 100%;
    font-size: 0.875rem;
}

/* General-Purpose Utility Classes */

.flex-center {
    display: flex;
    justify-content: center;
}

.small-text {
    line-height: 1.4em;
    font-size: .9em;
    color: var(--grey-darken-4);
}

.hyperlink {
    cursor: pointer;
    text-decoration: none;
    color: #2a9d8f;
}

.hyperlink:hover {
    color: #2a9d8f;
}

/* +++ media queries +++ */

@media (min-width: 768px) {
    #to-top {
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    footer > .container {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .nav-item {
        text-align: center;
    }
    .navbar-brand {
        padding-left: 27px;
    }
}
