.thumbnail {
    cursor: pointer;
}

.thumbnail-title {
    margin-top: 0.25em;
}

.row:nth-child(n+2) {
    margin-top: 24px;
}

@media (max-width: 768px) { 
    .thumbnail {
        margin-top: 1em;
    }
    .thumbnail-title {
        text-align: center;
    }
}

/* hover effect on desktop devices */
@media (min-width: 1199.98px) {
    .thumbnail > a > picture {
        transition: all 1s ease;
    }

    .thumbnail > a > picture:hover {
        filter: brightness(100%);
        transform: scale(0.99);
        opacity: 0.8;
    }
    
    .thumbnail-title {
        display: none;
    }
}

/* individual work styles */

#back-to-works {
    cursor: pointer;
}

.excerpt > .small-text {
    color: rgba(0, 0, 0, 0.5);
}
